<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<p>
    Début:<br />
    Année :
    <input readonly id="DebAnn" name="DebAnn" width="20">
    <script>
            var DebAnn = parseInt(@InTime.Models.ValeursSpinner.AnneeEnCours);
            $("#DebAnn").spinner();
            $("#DebAnn").spinner("option", "culture", "fr");
            $("#DebAnn").spinner("option", "max", parseInt(@InTime.Models.ValeursSpinner.ValeurMaximal));
            $("#DebAnn").spinner("option", "min", parseInt(@InTime.Models.ValeursSpinner.ValeurMinimal));
            $("#DebAnn").spinner("value", DebAnn);
            $("#DebAnn").width(50);
    </script>

    Mois :
    @Html.DropDownList("ChoixMoisDebut") <br />

    Fin:<br />
    Année :
    <input readonly id="FinAnn" name="FinAnn" width="20">
    <script>
            var FinAnn = parseInt(@InTime.Models.ValeursSpinner.AnneeEnCours);
            $("#FinAnn").spinner();
            $("#FinAnn").spinner("option", "culture", "fr");
            $("#FinAnn").spinner("option", "max", parseInt(@InTime.Models.ValeursSpinner.ValeurMaximal));
            $("#FinAnn").spinner("option", "min", parseInt(@InTime.Models.ValeursSpinner.ValeurMinimal));
            $("#FinAnn").spinner("value", FinAnn);
            $("#FinAnn").width(50);
    </script>

    Mois :
    @Html.DropDownList("ChoixMoisFin") <br />
</p>
