@model InTime.Models.Tache
@{
    ViewBag.Title = "Historique";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
    <li>@Html.ActionLink("Tâches", "TacheForm", "Tache")</li>
    <li class="active">Historique</li>
</ol>
<h2>Historique des tâches</h2>

@using (Html.BeginForm("Historique", "ConsulterTache", FormMethod.Get))
{
    @Html.DropDownList("ChoixTemps")

    <div id="Partiel" style="display:none">
        @Html.Partial("_LapseDeTemps")
    </div>
}

<script>
    document.getElementById("ChoixTemps").selectedIndex = (@ViewBag.Choix - 1)
</script>



<script>
    $('select, input').on('change', function (e) {
        if (this.value == 2) {
            $('#Partiel').show();
        }
        var form = $(event.target).parents('form');
        form.submit();
    });

    $('.ui-spinner-up, .ui-spinner-down').click(function () {
        var form = $(event.target).parents('form');
        form.submit();
    });
</script>

@Html.Partial("_TableauDonnees")


@if (ViewBag.Choix == 2)
{
    <script>
        $('#Partiel').show();
    </script>
}

