@using InTime.Models

@{
    ViewBag.Title = "Consultation de votre tâche";
}

<script>
    $(window).load(function () {
        $(function () {
            $("[id^=Consultation").attr('readonly', 'true');
            $("[id^=Consultation").css('background-color', '#DEDEDE');
        });
    });
</script>
<ol class="breadcrumb">
    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
    <li>@Html.ActionLink("Tâches", "TacheForm", "Tache")</li>
    <li>@Html.ActionLink("Consulter Tâches", "Taches", "ConsulterTache")</li>
    <li class="active">Détails</li>
</ol>
    <h2>Voici votre tâche</h2>

    @{
        var tache = (Tache)ViewData["Tache"];
    }

    <p>
        Nom de la tâche :
        <br />
        @Html.TextBox("Nom", tache.NomTache, new { disabled = "disabled", id = "Consultation" })
        <br />
        Nom du lieu :
        <br />
        @Html.TextBox("Lieu", tache.Lieu, new { disabled = "disabled", id = "Consultation" })
        <br />
        Récurrence de la tâche :
        <br />
        @Html.TextBox("Recurrence", (string)ViewBag.Recurrence, new { disabled = "disabled", id = "Consultation" })
        <br />
        Début  de la tâche :
        <br />
        @Html.TextBox("Debut", (string)ViewBag.DateDebut, new { disabled = "disabled", id = "Consultation" })
        <br />
        Fin de la tâche :
        <br />
        @Html.TextBox("Fin", (string)ViewBag.DateFin, new { disabled = "disabled", id = "Consultation" })
        <br />
        Rappel :
        <br />
        @Html.TextBox("Rappel", (string)ViewBag.DateRappel, new { disabled = "disabled", @style = "width: 500px;", id = "Consultation" })
        <br />
        Description de la tâche :
        <br />
        @Html.TextArea("Desc", tache.Description, new { disabled = "disabled", id = "Consultation" })
        <br />
        <form>
            Priorité:
            <input id="PrioriteCouleur" type="color" name="Priorité" size="4" height="30" value=@tache.PriorityColor disabled="true">
        </form>
    </p>

    @if (ViewBag.Modif == true)
    {
        <input type="button" value="Modifier Description"
               onclick="location.href = '@Url.Action("ModifTache","ConsulterTache", new {@id = tache.IdTache,@dep = tache.unixDebut, @fn = tache.unixFin, @Existe = @ViewBag.Existe})'" />
    }
