@model InTime.Models.Tache
<html>
<head>
    <title>Modification</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    @{
        var tache = (InTime.Models.Tache)ViewData["Tache"];
    }
</head>
@Html.ValidationSummary("Vous devez corriger les erreurs suivantes :")
@{
    ViewBag.Title = "Ajouter une nouvelle tâche";
}
<body>
    @{
        if (ViewBag.Message == InTime.Models.RequeteSql.Message.Reussi)
        {
            <h2><font color="green">Votre tâche a été enregistrée.</font></h2>
        }
    }
    @using (Html.BeginForm("Modification", "ConsulterTache"))
    {
        <div id="div1">
            <div id="div2">
                <h2>Modifiez votre tâche</h2>
                Nom de la tâche : <br />
                @Html.TextBox("NomTache", tache.NomTache, new { id = "NomTache" })
                <br />
                Nom du lieu :
                <br />
                @Html.TextBox("Lieu", tache.Lieu, new { id = "Lieu" })
                <br />
                Date : <br />
                Année :
                <input readonly id="Annee" name="Annee" width="20">
                <script>
                    var annee = parseInt(@InTime.Models.ValeursSpinner.AnneeEnCours);
                    $("#Annee").spinner();
                    $("#Annee").spinner("option", "culture", "fr");
                    $("#Annee").spinner("option", "max", parseInt(@InTime.Models.ValeursSpinner.ValeurMaximal));
                    $("#Annee").spinner("option", "min", parseInt(@InTime.Models.ValeursSpinner.ValeurMinimal));
                    $("#Annee").spinner("value", parseInt(@tache.Annee));
                    $("#Annee").width(50);

                    $('.ui-spinner-up').click(function () {
                        if (annee != parseInt(@InTime.Models.ValeursSpinner.ValeurMaximal)) {
                            annee += 1;
                            JourDuMois();
                        }
                    });
                    $('.ui-spinner-down').click(function () {
                        if (annee != parseInt(@InTime.Models.ValeursSpinner.ValeurMinimal)) {
                            annee -= 1;
                            JourDuMois();
                        }
                    });
                    $(selector, context).spinner("action");
                </script>
                Mois :
                @Html.DropDownList("Mois", ViewBag.MoisAnnee as SelectList, "Choisir un mois", new { id = "Mois" })
                @Html.ValidationMessage("Mois", "*")<br />
                <script>
                    document.getElementById("Mois").selectedIndex = @tache.Mois;
                </script>
                <script>
                    var params = {};
                    params.Year = annee;
                    params.Month = $('#Mois').val();
                    $.getJSON('/AjouterTache/JourDuMois/', params, function (data) {
                        var items = '<option>Choisir un jour</option>';
                        $.each(data, function (i, jour) {
                            items += "<option value='" + jour.Value + "'>" + jour.Text + "</option>";
                        });
                        $('#Jour').html(items);
                        document.getElementById("Jour").selectedIndex = @tache.Jour;
                    });
                </script>
                Jour :
                <select id="Jour" name="Jour"></select>
                @Html.ValidationMessage("Jour", "*")

                <br />

                Récurrence de la tache :<br />
                @Html.DropDownList("recurrence", ViewBag.recurrence as SelectList, new { id = "recurrence" })
                <script type="text/javascript">
                    document.getElementById("recurrence").selectedIndex = @tache.Recurrence;
                </script>

                <br />

                Heure : <br />
                Début : @Html.DropDownList("HDebut", ViewBag.trancheHeure as SelectList, "", new { id = "HDebut" })
                <script type="text/javascript">
                    document.getElementById("HDebut").selectedIndex = parseInt(@tache.HDebut)+1;
                </script>

                @Html.ValidationMessage("dbTacheHeure", "*")
                H
                @Html.DropDownList("mDebut", ViewBag.trancheMin as SelectList, "", new { id = "mDebut" })
                <script type="text/javascript">
                    document.getElementById("mDebut").selectedIndex = @tache.mDebut;
                </script>

                @Html.ValidationMessage("dbTacheMinute", "*")
                Min
                <br />
                Fin : @Html.DropDownList("HFin", ViewBag.trancheHeure as SelectList, "", new { id = "HFin" })
                @Html.ValidationMessage("finTacheHeure", "*")
                <script type="text/javascript">
                    document.getElementById("HFin").selectedIndex = parseInt(@tache.HFin)+1
                </script>
                H
                @Html.DropDownList("mFin", ViewBag.trancheMin as SelectList, "", new { id = "mFin" })
                @Html.ValidationMessage("finTacheMinute", "*")
                Min
                <script type="text/javascript">
                    document.getElementById("mFin").selectedIndex = @tache.mFin;
                </script>

                <br />
                Avant combien de temps voulez-vous être informé de votre tâche ? <br />
                @Html.DropDownList("HRappel", ViewBag.trancheHeure as SelectList, "", new { id = "HRappel" })
                @Html.ValidationMessage("rapTacheHeure", "*")
                <script type="text/javascript">
                    document.getElementById("HRappel").selectedIndex = parseInt(@tache.HRappel)+1
                </script>
                H
                @Html.DropDownList("mRappel", ViewBag.trancheMin as SelectList, "", new { id = "mRappel" })
                @Html.ValidationMessage("rapTacheMinute", "*")
                Min
                <script type="text/javascript">
                    document.getElementById("mRappel").selectedIndex = 1
                </script>

                <br />
            </div>
            Description de la tâche : <br />
            @Html.TextArea("Description", tache.Description, new { style = "width:95%;", id = "Description" })
            <br />
            @Html.TextBoxFor(model => model.IdTache, new { id = "IdTache", Value = tache.IdTache, @type = "Hidden" })
            @Html.TextBox("Existe", "false", new { @type = "Hidden" })
            <input id="modif" name="modif" type="text" value="False" style="display:none" />
            <script>
                var JourDuMois = function () {
                    var params = {};
                    params.Year = annee;
                    params.Month = $('#Mois').val();
                    $.getJSON('/AjouterTache/JourDuMois/', params, function (data) {
                        var items = '<option>Choisir un jour</option>';
                        $.each(data, function (i, jour) {
                            items += "<option value='" + jour.Value + "'>" + jour.Text + "</option>";
                        });
                        $('#Jour').html(items);
                    });
                }

                $(function () {
                    $('#Mois').change(function () {
                        JourDuMois();
                    });
                });
            </script>
            <input style="float:left; margin-right:12px;" type="submit" name="Modifier" value="Modifier" onclick=" return confirm('voulez-vous modifier cette tâche?')" />
        </div>
    }

    @if (@ViewBag.Modif)
    {
        <script>
            $('#div2').css('display','none');
            $("#modif").val("True");
        </script>
    }

</body>
</html>
