@model InTime.Models.AjoutTache

@{
    ViewBag.Title = "Ajouter une nouvelle tâche";
}

<h2>Veuillez entrer les informations de votre nouvelle tâche</h2>


<p>
    Nom de la tâche : <br />
    @Html.TextBoxFor(model => model.m_strNomTache)
    @Html.ValidationMessageFor(model => model.m_strNomTache)
    <br />


    Nom du lieu : <br /> 
    @Html.TextBoxFor(model => model.m_strLieu)
    @Html.ValidationMessageFor(model => model.m_strLieu)
    <br />

    Date : <br />
    Mois :
    @Html.DropDownList("m_mois", ViewBag.MoisAnnee as SelectList, "Choisir un mois", new { id = "m_mois" })
    @Html.ValidationMessage("m_mois", "*")

    Année :
    <select id="m_annee" name="m_annee"></select>
    @Html.ValidationMessage("m_année", "*")


    Jour :
    <select id="m_jour" name="m_jour"></select>
    @Html.ValidationMessage("m_jour", "*")
    <br />
    
    Heure : <br />
    Début : @Html.DropDownList("trancheHeure")H @Html.DropDownList("trancheMin")Min <br />
    Fin : @Html.DropDownList("trancheHeure")H @Html.DropDownList("trancheMin")Min
     <br />


    L'heure du rappel : <br />
    @Html.DropDownList("trancheHeure")H @Html.DropDownList("trancheMin")Min
    <br />
    
    Description de la tâche : <br /> 
    @Html.TextAreaFor(model => model.m_strDescTache)
    <br />
    
    
    <input type="submit" value="Enregistrer" />
    <input type="reset" value="Recommencer" /> 
</p>



<!--  Initialise notre DropDownList contenant les annees  -->
@Scripts.Render("~/bundles/jquery")
<script type="text/jscript">
    $(function () {
        $('#m_mois').change(function () {
            $.getJSON('/AjouterTache/AnneeList/' + $('#m_mois').val(), function (data) {
                var items = '<option>Choisir une année</option>';
                $.each(data, function (i, annee) {
                    items += "<option value='" + annee.Value + "'>" + annee.Text + "</option>";
                });
                $('#m_annee').html(items);
            });
        });
    });
</script>


<!--   Initialise notre DropDownList contenant les jours possible   -->
@Scripts.Render("~/bundles/jquery")
<script type="text/jscript">
    $(function () {
        $('#m_annee').change(function () {
            var params = {};
            params.Year = $('#m_annee').val();
            params.Month = $('#m_mois').val();
            $.getJSON('/AjouterTache/JourList/', params, function (data) {
                var items = '<option>Choisir un jour</option>';
                $.each(data, function (i, jour) {
                    items += "<option value='" + jour.Value + "'>" + jour.Text + "</option>";
                });
                $('#m_jour').html(items);
            });
        });
    });
</script>