@model InTime.Models.AjoutTache

@{
    ViewBag.Title = "Ajouter une nouvelle tâche";
}

<h2>Veuillez entrer les informations de votre nouvelle tâche</h2>

<!--
        private string m_strNomTache;
        private string m_strLieu;
        private string m_strDescTache;
        private DateTime m_dtHeure;
        private DateTime m_dtRappel;
-->

<p>
    Nom de la tâche : <br />
    @Html.TextBoxFor(model => model.m_strNomTache)
    @Html.ValidationMessageFor(model => model.m_strNomTache)
    <br />


    Nom du lieu : <br /> 
    @Html.TextBoxFor(model => model.m_strLieu)
    @Html.ValidationMessageFor(model => model.m_strLieu)
    <br />

    Date : <br />
    Jour :  
    @Html.TextBoxFor(model => model.m_jour, new { style = "width: 50px;" })
    @Html.ValidationMessageFor(model => model.m_jour)

    Mois :  
    @Html.TextBoxFor(model => model.m_mois, new { style = "width: 100px;" })
    @Html.ValidationMessageFor(model => model.m_mois)

    Année :
    @Html.TextBoxFor(model => model.m_annee, new { style = "width: 50px;" })
    @Html.ValidationMessageFor(model => model.m_annee)
    <br />
    
    Heure : <br />
    Début : @Html.DropDownList("trancheHeure") @Html.DropDownList("trancheMin") 
    Fin : @Html.DropDownList("trancheHeure") @Html.DropDownList("trancheMin") 
     <br />


    L'heure du rappel : <br />
    @Html.DropDownList("trancheHeure") @Html.DropDownList("trancheMin")  
    <br />
    
    Description de la tâche : <br /> 
    @Html.TextAreaFor(model => model.m_strDescTache)
    <br />
    
    
    <input type="submit" value="Enregistrer" />
    <input type="reset" value="Recommencer" /> 
</p>
