﻿@model InTime.Models.Tache
@Styles.Render("~/Content/jqueryui")

<ol class="breadcrumb">
    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
    <li>@Html.ActionLink("Tâches", "TacheForm", "Tache")</li>
    <li class="active">Ajouter Tâches</li>
</ol>

@{
    ViewBag.Title = "Ajouter une nouvelle tâche";
    @Html.ValidationSummary("Vous devez corriger les erreurs suivantes :")
    if (TempData["Message"] != null)
    {
        if ((int)TempData["Message"] == (int)@InTime.Models.Messages.RequeteSql.Reussi)
        {
            <div>
                <h2><font color="green">Votre tâche a été enregistrée.</font></h2>
            </div>
        }
        if ((int)TempData["Message"] == (int)@InTime.Models.Messages.RequeteSql.Echec)
        {
            <div>
                <h2><font color="red">Une erreur s'est produite. Votre tâche n'a pas été sauvegardée."</font></h2>
            </div>
        }
    }
}

@using (Html.BeginForm())
{
    <p>
        Nom de la tâche : <br />
        @Html.TextBoxFor(model => model.NomTache)
        @Html.ValidationMessageFor(model => model.NomTache, "*")
        <br />
        Nom du lieu : <br />
        @Html.TextBoxFor(model => model.Lieu)
        @Html.ValidationMessageFor(model => model.Lieu, "*")
        <br />
        Date : <br />
        Année :
        <input id="Annee" name="Annee" width="20">
        Mois :
        @Html.DropDownList("Mois", @InTime.Models.Tache.les_mois, "Choisir un mois", new { id = "Mois" })
        @Html.ValidationMessage("Mois", "*")
        Jour :
        <select id="Jour" name="Jour"></select>
        @Html.ValidationMessage("Jour", "*")
        <br />
        Récurrence de la tache :<br />
        @Html.DropDownList("recurrence", @InTime.Models.Tache.options, new { id = "recurrence" })
        <br />
        Heure : <br />
        Début : @Html.DropDownList("HDebut", @InTime.Models.Tache.tempsHeure, "", new { id = "HDebut" })
        @Html.ValidationMessage("dbTacheHeure", "*")
        H
        @Html.DropDownList("mDebut", @InTime.Models.Tache.tempsMinutes, "", new { id = "mDebut" })
        @Html.ValidationMessage("dbTacheMinute", "*")
        Min
        <br />
        Fin : @Html.DropDownList("HFin", @InTime.Models.Tache.tempsHeure, "", new { id = "HFin" })
        @Html.ValidationMessage("finTacheHeure", "*")
        H
        @Html.DropDownList("mFin", @InTime.Models.Tache.tempsMinutes, "", new { id = "mFin" })
        @Html.ValidationMessage("finTacheMinute", "*")
        Min
        <br />
        Avant combien de temps voulez-vous être informé de votre tâche ? <br />
        @Html.DropDownList("HRappel", @InTime.Models.Tache.tempsHeure, "", new { id = "HRappel" })
        @Html.ValidationMessage("rapTacheHeure", "*")
        H
        @Html.DropDownList("mRappel", @InTime.Models.Tache.tempsMinutes, "", new { id = "mRappel" })
        @Html.ValidationMessage("rapTacheMinute", "*")
        Min
        <br />
        Description de la tâche : <br />
        @Html.TextAreaFor(model => model.Description, "*")
        <br />

        Priorité:
        <input id="PriorityColor" type="color" name="PriorityColor" size="4" height="30" value="#01DF3A">
        <br />
        <br />

        <input type="submit" value="Enregistrer" />
    </p>
}

@Scripts.Render("~/bundles/jqueryui")
<script>
    $(document).ready(function () {
        $("#Annee").spinner({
            change: function (event, ui) { JourDuMois(); },
            min: parseInt(@InTime.Models.ValeursSpinner.ValeurMinimal),
            max: parseInt(@InTime.Models.ValeursSpinner.ValeurMaximal),
            culture: "fr"
        });
        $("#Annee").spinner("value",
            @if (ViewBag.Annee == null)
            {
                @InTime.Models.ValeursSpinner.AnneeEnCours
            }
            else
            {
                @ViewBag.Annee
            });
        $("#Annee").width(50);
        $("#Mois").val(
            @if (ViewBag.Mois != null)
            {
                @ViewBag.Mois
            });
    });

    var JourDuMois = function () {
        var params = {};
        params.Year = $("#Annee").val();
        params.Month = $('#Mois').val();
        $.getJSON('@Url.Action("JourDuMois", "AjouterTache")', params, function (data) {
            var items = '<option>Choisir un jour</option>';
            $.each(data, function (i, jour) {
                items += "<option value='" + jour.Value + "'>" + jour.Text + "</option>";
            });
            $('#Jour').html(items);
            $("#Jour").val(
            @if (ViewBag.Jour != null)
            {
                @ViewBag.Jour
            });
        });
    }

    $(function () {
        $('#Mois').change(function () {
            JourDuMois();
        });
    });
</script>
