@model InTime.Models.Tache

<header>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
</header>

@{
    ViewBag.Title = "Ajouter une nouvelle tâche";
}

@Html.ValidationSummary("Vous devez corriger les erreurs suivantes :")


<div>
    @{
        if (ViewBag.Message == "Reussi")
        {
            <h2><font color="green">Votre tâche a été enregistrée.</font></h2>
        }
        if (ViewBag.Message == "Erreur")
        {
            <h2><font color="red">Une erreur s'est produite. Votre tâche n'a pas été sauvegardée."</font></h2>
        }
    }
</div>

<h2>Veuillez entrer les informations de votre nouvelle tâche</h2>

@using (Html.BeginForm())
{
    <p>
        Nom de la tâche : <br />
        @Html.TextBoxFor(model => model.NomTache)
        @Html.ValidationMessageFor(model => model.NomTache, "*")
        <br />


        Nom du lieu : <br />
        @Html.TextBoxFor(model => model.Lieu)
        @Html.ValidationMessageFor(model => model.Lieu, "*")
        <br />

        Date : <br />
        Mois :
        @Html.DropDownList("Mois", ViewBag.MoisAnnee as SelectList, "Choisir un mois", new { id = "Mois" })
        <script type="text/javascript">
            document.getElementById("Mois").selectedIndex = 0
        </script>
        @Html.ValidationMessage("Mois", "*")

        Année :
        <input readonly id="Annee" name="Annee" width="20">

        <script>
            var annee = 2014;
            $("#Annee").spinner();
            $("#Annee").spinner("option", "culture", "fr");
            $("#Annee").spinner("option", "max", 2114);
            $("#Annee").spinner("option", "min", 2014);
            $("#Annee").spinner("value", 2014);
            $("#Annee").width(50);


            $('.ui-spinner-up').click(function () {
                if (annee != 2114)
                    {
                        annee += 1;
                        JourDuMois();
                    }
            });
            $('.ui-spinner-down').click(function () {
                if (annee != 2014)
                    {
                        annee -= 1;
                        JourDuMois();
                    }
            });       
        </script>

        Jour :
            <select id="Jour" name="Jour"></select>
            @Html.ValidationMessage("Jour","*")
            <br />

        Heure : <br />
        Début : @Html.DropDownList("HDebut", ViewBag.trancheHeure as SelectList,"", new { id = "HDebut" })
        @Html.ValidationMessage("dbTacheHeure","*")
        H
        @Html.DropDownList("mDebut", ViewBag.trancheMin as SelectList,"", new { id = "mDebut" })
        @Html.ValidationMessage("dbTacheMinute", "*")
        Min
         <br />

        Fin : @Html.DropDownList("HFin", ViewBag.trancheHeure as SelectList, "", new { id = "HFin" })
        @Html.ValidationMessage("finTacheHeure", "*")
        H
        @Html.DropDownList("mFin", ViewBag.trancheMin as SelectList, "", new { id = "mFin" })
        @Html.ValidationMessage("finTacheMinute", "*")
        Min
         <br />


        Avant combien de temps voulez-vous être informé de votre tâche ? <br />
        @Html.DropDownList("HRappel", ViewBag.trancheHeure as SelectList, "", new { id = "HRappel" })
        @Html.ValidationMessage("rapTacheHeure","*")
        H
        @Html.DropDownList("mRappel", ViewBag.trancheMin as SelectList, "", new { id = "mRappel" })
        @Html.ValidationMessage("rapTacheMinute","*")
        Min
        <br />

        Description de la tâche : <br />
        @Html.TextAreaFor(model => model.Description,"*")
        <br />

        <input type="submit" value="Enregistrer" />
    </p>
}


<script>
    var JourDuMois = function()
    {
        var params = {};
        params.Year = annee;
        params.Month = $('#Mois').val();
        $.getJSON('/AjouterTache/JourDuMois/', params, function (data) {
            var items = '<option>Choisir un jour</option>';
            $.each(data, function (i, jour) {
                items += "<option value='" + jour.Value + "'>" + jour.Text + "</option>";
            });
            $('#Jour').html(items);
        });
    }
</script>

<!--   Initialise notre DropDownList contenant les jours possible   -->
@Scripts.Render("~/bundles/jquery")
<script>
    $(function () {
        $('#Mois').change(function () {
            JourDuMois();
        });
    });
</script>
