@model InTime.Models.GMail

@{
    ViewBag.Title = "Contact";
}


    <h1>Nous rejoindre</h1>
    <article>
        <section>
            <h3>Téléphone</h3>
            <p>
                418 833-5110 <br />
                Du lundi au vendredi: de 8h00 à 17h
            </p>
        </section>

        <br />
        <hr />

        <section>
            @Html.ValidationSummary("Vous devez corriger les erreurs suivantes :")
            <div>
                @{
                    if (TempData["message"] == @InTime.Models.Messages.Envoyer)
                    {
                        <h2><font color="green">Votre message a été envoyé.</font></h2>
                    }
                    else
                    {
                        if (TempData["message"] == @InTime.Models.Messages.Echec)
                        {
                            <h2><font color="red">Une erreur s’est produite. Votre commentaire n’a pas été transmis.</font></h2>
                        }
                    }
}
            </div>
            <h3>Nous laisser un commentaire</h3>
            @using (Html.BeginForm())
            {
                <p>
                    Sujet : <br />
                    @Html.TextBoxFor(model => model.Subject)
                    @Html.ValidationMessageFor(model => model.Subject, "*")
                    <br />

                    Message : <br />
                    @Html.TextAreaFor(model => model.Body, "*")
                    @Html.ValidationMessageFor(model => model.Body, "*")
                    <br />

                    <input type="submit" value="Envoyer" />
                </p>
            }
        </section>

    </article>
