@model InTime.Models.Tache

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomTache)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Annee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mois)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jour)
        </th>
        <th>
            @Html.DisplayName("Récurrente")
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (InTime.Models.Tache item in ViewBag.Taches)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomTache)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mois)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jour)
            </td>
            <td>
                @if (item.Recurrence == 0)
                {
                    @Html.DisplayName("Non");
                }
                else
                {
                    @Html.DisplayName("Oui");
                }
            </td>
            <td>
                @Html.ActionLink("Détails", "Index","ConsulterTache", new { id = item.IdTache, deb = item.unixDebut, fin = item.unixFin },null)
            </td>
            <td>
                @if (ViewBag.Title != "Historique")
                {
                    @Html.ActionLink("Modifier", "Modification","ModifierTache", new { id = item.IdTache },null)
                }
            </td>
            <td>
                @if (ViewBag.Title != "Historique")
                {
                    @Html.ActionLink("Supprimer", "Index", "SupprimerTache", new { id = item.IdTache }, new { onclick = "return confirm('Voulez-vous supprimer cette tâche?');" })
                }
            </td>
        </tr>
    }

</table>
