@model InTime.Models.LocalPasswordModel

<h3>Modifier le mot de passe</h3>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Formulaire de modification de mot de passe</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword) <br/>
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword) <br/>
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword) <br/>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <div style="display:inline-block">
            <input type="submit" value="Modifier le mot de passe" />
            <input type="button" value="Retour" onclick="location.href = '@Url.Action("TacheForm","Tache",null)'" />
        </div>
    </fieldset>

}
