@model InTime.Models.LocalPasswordModel
@{
    ViewBag.Title = "Gérer le compte";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
    <li>@Html.ActionLink("Tâches", "TacheForm", "Tache")</li>
    <li>@Html.ActionLink("Gérer Compte", "Index", "GererCompte")</li>
    <li class="active">Modifier votre mot de passe</li>
</ol>
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Vous êtes connecté en tant que <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
