@model InTime.Models.RegisterModel
@{
    ViewBag.Title = "S'inscrire";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Créez un nouveau compte.</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Formulaire d'inscription</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Prenom) <br />
                @Html.TextBoxFor(m => m.Prenom)
            </li>
            <li>
                @Html.LabelFor(m => m.Nom) <br />
                @Html.TextBoxFor(m => m.Nom)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)<br />
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.UserName)<br />
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)<br />
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)<br />
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                <b style="font-size: 16px">Usage principal de votre calendirer:</b> <br />
                <select name="Categorie" id="Categorie">
                    <option value="Travail">Travail</option>
                    <option value="École">École</option>
                    <option value="Général">Général</option>
                </select>
            </li>
        </ol>
        <input type="submit" value="S'inscrire" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
