@model InTime.Models.RegisterModel

@{
    ViewBag.Title = "Renseignements";
}

<div>
    @{
        var information = (InTime.Models.RegisterModel)ViewData["utilisateur"];
        if (TempData["Message"] != null)
        {
            if ((int)TempData["Message"] == (int)InTime.Models.RequeteSql.Message.Reussi)
            {
                <h2><font color="green">Vos renseignements ont été modifiés </font></h2>
            }
            if ((int)TempData["Message"] == (int)InTime.Models.RequeteSql.Message.Echec)
            {
                <h2><font color="red">Une erreur s'est produite. Vos modifications n'ont pas été sauvegardées.</font></h2>
            }
        }
    }
</div>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
    <li>@Html.ActionLink("Tâches", "TacheForm", "Tache")</li>
    <li>@Html.ActionLink("Gérer Compte", "Index", "GererCompte")</li>
    <li class="active">Modifier vos renseignements personnels</li>
</ol>
<h2>Vos renseignements personnels</h2>

@Html.ValidationSummary("Vous devez corriger les erreurs suivantes :")

@using (Html.BeginForm())
{
    <article>
        <p>
            Votre prénom :
            <br />
            @Html.TextBoxFor(model => model.Prenom, new { Value = information.Prenom ?? "", id = "Consultation" })
            @Html.ValidationMessageFor(model => model.Prenom, "*")
            <br />
            Votre nom :
            <br />
            @Html.TextBoxFor(model => model.Nom, new { Value = information.Nom ?? "", id = "Consultation" })
            @Html.ValidationMessageFor(model => model.Nom, "*")
            <br />
            Votre adresse courriel :
            <br />
            @Html.TextBoxFor(model => model.Email, new { Value = information.Email ?? "", id = "Consultation" })
            @Html.ValidationMessageFor(model => model.Email, "*")

            <br /> <br />
            Usage principal de votre calendirer:
            @Html.DropDownListFor(model => model.Categorie, new SelectList(InTime.Models.RegisterModel.ChoixCategories, "text", "value"), new { id = "cat" })

            <div style="display:inline-block">
                <input id="Sauv" type="submit" value="Sauvegarder" />
                <input id="Mod" type="button" value="Modifier vos renseignements" style="display:none" />
                <input type="button" value="Retour" onclick="location.href = '@Url.Action("TacheForm","Tache",null)'" />
            </div>
            <br />
            <br />
            <input type="button" value="Modifier votre mot de passe" onclick="location.href = '@Url.Action("Manage","Account",null)'" />
        </p>
    </article>
}

<script>
    $("#cat").val(@ViewBag.Categorie);
</script>

@if (TempData["Affichage"] != null)
{
    if ((int)TempData["Affichage"] == (int)InTime.Models.Messages.ChampsBloquer.Oui)
    {
        <script>
            $(document).ready(function () {
                $("#Sauv").css("display", "none");
                $("#Mod").css("display", "inherit");
                $("[id^=Consultation").attr('readonly', 'true');
                $("[id^=Consultation").css('background-color', '#DEDEDE');
                $("#cat").attr("disabled", "true");
                $("#cat").css('background-color', '#DEDEDE');

                $("#Mod").click(function () {
                    $("[id^=Consultation").removeAttr('readonly');
                    $("[id^=Consultation").css('background-color', 'white');
                    $("#Sauv").css("display", "inherit");
                    $("#Mod").css("display", "none");
                    $("#cat").removeAttr("disabled");
                    $("#cat").css('background-color', 'white');
                });

            });
        </script>
    }
}
